.sb-container {
    position: absolute;
    width: 15%;
    height: 55%;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 255, 0, 0.75);
}

.sb-wrapper {
    padding: 20px;
}

.sb-score {
    color: white;
    font-weight: bold;
    font-size: 16px;
}